/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Header
  ========================================
*/

#header-img {
	width: 100%;
	height: 288px;
}

#about-img {
	width: 100%;
	height: 250px;
}

/*
  ========================================
  Navigation
  ========================================
*/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
/*
  ========================================
  Links
  ========================================
*/
.navbar li a {
	font-size:16px;
	font-weight: 400;
   letter-spacing: .5px;
   text-transform: uppercase;
}
.navbar li a:hover {
	color: #a9b2b9;
}
.fa-twitter {
	color:#27B7D1;
}
.fa-google-plus {
	color:#AE1F1F;
}
.fa-github {
	color:#4F4B4B;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-decoration: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

div img {
	width: 100%;
	margin-bottom: 30px;
}
p {
	font-family: "droid serif","Roboto",sans-serif;
	line-height: 30px;
	font-weight: 400px;
}

/*
  ========================================
  Footer
  ========================================
*/
.social-icons {
	width: 100%;
	margin: 0 auto;
	height: 60px;
}

.social-icons li {
	display: inline-block;
	padding: 20px;
}
footer {
	margin-top:30px;
	background-color: #2B252B;
	height: 100%;
	width: 100%;
}
footer div,
footer p {
	text-align: center;
}
footer p {
	color:#FDF2F1;
}
.copyright {
	background-color: #847C7C;
	height: 100%;
	margin-top:10px;
}


textarea {
	width: 95%;
	margin-top: 0;
	height:120px;
	margin-left: 10px;
}
.form-group {
	margin:20px;
}
label {
	margin-bottom: 8px;
	margin-left: 10px;
}


/*
  ========================================
  Affix
  ========================================
*/

  .affix {
      top: 0;
      width: 85%;

  }

  .affix + .container{
      padding-top: 70px;
  }

body {
	positon: relative;
}


#intro {
	text-align: center;
	background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
    margin-bottom: 25px;
    font-family: "Droid serif", sans-serif;
}

#about-text h1 {
	text-align: center;
	margin-bottom: 10px;
}

.contact-form button {
	width:50%;
	padding-top:15px;
	padding-bottom: 20px;
	font-size:18px;
}
.contact-form button:hover {
	color:#69B27E;
}
