
body{
	margin-top:30px;
}
.profile{
	position: relative;
	top:-55px;
}
.cover-links{
	position: relative;
	top:-180px;
	left:180px;
}
.cover-links h1{
color:#fff;
}
ul li{
	display:inline-block;
}
span li{
	font-size: 24px;}

span li a:link{
	text-decoration: none;
}
span li a{
	color:#3CB6CE;
}
.navigate{
	position: relative;
	left:380px;
	bottom:190px;

}
.navigate li{
	font-size: 24px;
display: inline-block;
}
.jumbo{
	position: relative;
	bottom:170px;
	width: 960px;
	margin:0 auto;
	text-align: center;
}
footer{
	margin: 0 auto;
	text-align: center;
}